<main>
  <app-navigation [activeIndex]="1"></app-navigation>
  <div class="images">
    <div class="takenPic">
      <h3>Current image</h3>
      <img src="https://cards.scryfall.io/large/front/f/2/f295b713-1d6a-43fd-910d-fb35414bf58a.jpg" alt="photo of current card"> <!--TODO: use taken pic-->
    </div>
    <div class="arrow">Arrow</div>
    <div class="recognizedPic">
      <h3>Recognized card</h3>
      <img src="../../assets/testImg.png" alt="image of recognized card"> <!--TODO: use pic from DB-->
    </div>
    <div class="cardData">
      <h3>Card data:</h3>
      <p>Price: ...</p>
      <p>Stock: ...</p>
      <p>Wanted: ...</p>
      <p>-> Box 1</p>
    </div>
  </div>
  <div class="boxes">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
  </div>
</main>
