.images {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 25vw;
  }

  .takenImg {
    margin-top: 6vh;
    width: 35vw;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .notFoundCard {
    width: 23vw;
    height: 60vh;
    border: 5px solid black;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p, mat-icon {
      color: var(--error-color);
      font-weight: bold;
    }

    mat-icon {
      transform: scale(4);
      margin: 10vh;
    }
  }

  .arrow {
    width: 15vw;
    text-align: center;

    mat-icon {
      transform: scale(2);
    }
  }

  .padding {
    height: 12vh;
  }

  .cardData {
    width: 25vw;
    margin: 2vw;
    padding: 2vw;
    background-color: var(--blue-mid);
    border-radius: 5%;

    .boxResult {
      display: flex;
      flex-direction: row;
      align-items: center;

      mat-icon {
        margin: 0 1vw;
      }
    }
  }

  .recognizedPic, .takenPic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 80vh;
    margin: 2vw;

    .loadingSpinner {
      display: inline-block;
      width: 25vw;
      height: 25vw;
      margin-top: 12vh;
      padding-left: 10vw;
    }
    .loadingSpinner div {
      animation: loadingSpinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 8vw 8vw;
    }
    .loadingSpinner div:after {
      content: " ";
      position: absolute;
      width: 1.2vw;
      height: 1.2vw;
      border-radius: 50%;
      background: var(--blue-mid);
      margin: -4px 0 0 -4px;
    }
    .loadingSpinner div:nth-child(1) {
      animation-delay: -0.036s;
    }
    .loadingSpinner div:nth-child(1):after {
      top: 12.8vw;
      left: 12.8vw;
    }
    .loadingSpinner div:nth-child(2) {
      animation-delay: -0.072s;
    }
    .loadingSpinner div:nth-child(2):after {
      top: 13.82vw;
      left: 11.38vw;
    }
    .loadingSpinner div:nth-child(3) {
      animation-delay: -0.108s;
    }
    .loadingSpinner div:nth-child(3):after {
      top: 14.42vw;
      left: 9.75vw;
    }
    .loadingSpinner div:nth-child(4) {
      animation-delay: -0.144s;
    }
    .loadingSpinner div:nth-child(4):after {
      top: 14.63vw;
      left: 8.13vw;
    }
    .loadingSpinner div:nth-child(5) {
      animation-delay: -0.18s;
    }
    .loadingSpinner div:nth-child(5):after {
      top: 14.42vw;
      left: 6.50vw;
    }
    .loadingSpinner div:nth-child(6) {
      animation-delay: -0.216s;
    }
    .loadingSpinner div:nth-child(6):after {
      top: 13.81vw;
      left: 4.88vw;
    }
    .loadingSpinner div:nth-child(7) {
      animation-delay: -0.252s;
    }
    .loadingSpinner div:nth-child(7):after {
      top: 12.8vw;
      left: 3.45vw;
    }
    .loadingSpinner div:nth-child(8) {
      animation-delay: -0.288s;
    }
    .loadingSpinner div:nth-child(8):after {
      top: 11.38vw;
      left: 2.44vw;
    }
    @keyframes loadingSpinner {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3vh 0;

  div {
    width: 10vw;
    height: 10vw;
    background-color: var(--grey-basic);
  }
}
