<main>
  <app-navigation [activeIndex]="1"></app-navigation>
  <div class="images">
    <div class="takenPic">
      <h3>Current image</h3>
      <img *ngIf="takenImageSrc" src="{{takenImageSrc}}" alt="photo of current card"> <!--TODO: use taken pic-->
      <div *ngIf="!takenImageSrc">
        <div class="notFoundCard">
          <mat-icon>close</mat-icon>
          <p>Image not found!</p>
        </div>
      </div>
    </div>
    <div class="arrow">
      <mat-icon>arrow_forward</mat-icon>
    </div>
    <div class="recognizedPic">
      <h3>Recognized card</h3>
      <div class="loadingSpinner" *ngIf="waitingForResult"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      <img *ngIf="!waitingForResult && recognizedImageLink" src="{{recognizedImageLink}}" alt="image of recognized card">
      <div *ngIf="!recognizedImageLink && !waitingForResult">
        <div class="notFoundCard">
          <mat-icon>close</mat-icon>
          <p>Image not found!</p>
        </div>
      </div>
    </div>
    <div>
      <div class="padding"></div>
      <div class="cardData">
        <h3>Card data:</h3>
        <p>Price: {{waitingForResult ? '' : price}}</p>
        <p>Stock: {{waitingForResult ? '' : stock}}</p>
        <p>Wanted: {{waitingForResult ? '' : wanted}}</p>
        <div class="boxResult">
          <mat-icon>arrow_forward</mat-icon>
          <span> Box {{boxNumber !== undefined && !waitingForResult ? boxNumber : ''}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="boxes" *ngIf="false"> <!--TODO-->
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
  </div>
</main>
