<main>
  <app-navigation [activeIndex]="1"></app-navigation>
  <div class="images">
    <div class="takenPic">
      <h3>Current image</h3>
      <img src="{{takenImageSrc}}" alt="photo of current card"> <!--TODO: use taken pic-->
    </div>
    <div class="arrow">
      <mat-icon>arrow_forward</mat-icon>
    </div>
    <div class="recognizedPic">
      <h3>Recognized card</h3>
      <img src="{{imageLink}}" alt="image of recognized card">
    </div>
    <div class="cardData">
      <h3>Card data:</h3>
      <p>Price: {{price}}</p>
      <p>Stock: {{stock}}</p>
      <p>Wanted: {{wanted}}</p>
      <p>-> Box {{boxNumber !== undefined ? boxNumber : ''}}</p>
    </div>
  </div>
  <div class="boxes">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
  </div>
</main>
