<main>
  <app-navigation [activeIndex]="2"></app-navigation>

  <div class="selectorDropdown" *ngIf="!dropdownOpen">
    <div>Select statistics type and time</div>
    <mat-icon (click)="toggleSelectDropdown()">keyboard_arrow_down</mat-icon>
  </div>
  <div class="openSelectorDropdown" *ngIf="dropdownOpen">
    <div class="dateSelection">
      <h3>Select the period of time:</h3>
      <div class="dateSelectors">
        <label for="fromDate">From: </label>
        <input type="date" id="fromDate" [(ngModel)]="fromDate" class="{{getDatesValidity() ? '' : 'invalid'}}">
        <label for="toDate">to: </label>
        <input type="date" id="toDate" [(ngModel)]="toDate" class="{{getDatesValidity() ? '' : 'invalid'}}">
      </div>
    </div>
    <div class="typeSelection">
      <h3>Select a diagram:</h3>
      <button *ngFor="let type of diagramTypes" class="{{type.selected ? 'selected' : ''}}"
              (click)="selectDiagramType(type.id)">{{type.text}}</button>
    </div>
    <div class="submitButton">
      <div class="errorMessageContainer">
        <div class="errorMessage" *ngIf="!getDatesValidity() || !typeIsSelected()">
          Selected values are invalid!
        </div>
      </div>
      <button (click)="toggleSelectDropdown()" [disabled]="!getDatesValidity() || !typeIsSelected()">
        Show graph
      </button>
    </div>
    <mat-icon (click)="toggleSelectDropdown()">keyboard_arrow_up</mat-icon>
  </div>

  <div *ngIf="!dropdownOpen && (!fromDate || !toDate || !typeIsSelected() || !getDatesValidity())" class="selectMessage">
    <p>Please select the period of time and the diagram type!</p>
  </div>

  <div *ngIf="!dropdownOpen && fromDate && toDate && typeIsSelected() && getDatesValidity()" class="graphContainer">
    <app-graph
      graphTitle="{{graphTitle}}"
      xAxisTitle="{{xAxisTitle}}"
      yAxisTitle="{{yAxisTitle}}"
      [xAxisValues]="xAxisValues"
      [yAxisValues]="yAxisValues"
      [datasetLabels]="datasetLabels"
      [tension]="tension"
    >
    </app-graph>
  </div>
</main>
