<main>
  <app-navigation [activeIndex]="0"></app-navigation>
  <h2>Machine control</h2>
  <p>Select a sorting category</p>
  <div class="categoryButtons">
    <button *ngFor="let cat of sortingCategories" class="{{cat.selected ? 'selected' : ''}}"
            (click)="selectCategory(cat.name)">{{cat.name}}</button>
  </div>
  <div *ngIf="getConfigurable()">
    <p>Enter values</p>
    <div class="boundaryValues">
      <div class="cardBox">1</div>
      <div><=</div>
      <span>
        <input type="text" id="lowerBorder" [(ngModel)]="lowerBoundary" (click)="editLowerBoundary()"
               class="{{editingLowerBoundary ? 'editMode keyboardDisplay' : 'keyboardDisplay'}}" (keydown)="handleLowerBoundaryInput()">
        {{sortingCategories[selectedCatIndex].unit}}
      </span>
      <div><</div>
      <div class="cardBox">2</div>
      <div><=</div>
      <span><input type="text" id="upperBorder" [(ngModel)]="upperBoundary" (click)="editUpperBoundary()"
                   class="{{editingUpperBoundary ? 'editMode keyboardDisplay' : 'keyboardDisplay'}}" (keydown)="handleUpperBoundaryInput()">
        {{sortingCategories[selectedCatIndex].unit}}
      </span>
      <div><</div>
      <div class="cardBox">3</div>
    </div>
  </div>
  <div *ngIf="!getConfigurable()">
    <p>Used values</p>
    <div class="boundaryValues wanted">
      <div class="cardBox">1</div>
      <span class="wantedValue">: true</span>
      <div class="cardBox">2</div>
      <span class="wantedValue">: false</span>
    </div>
  </div>
  <div class="submitButtons">
    <button *ngIf="machineStopped" (click)="startSorting()" class="startStopButton">Start</button>
    <button *ngIf="!machineStopped" (click)="pauseSorting()" class="startStopButton">Stop</button>
  </div>

  <div class="numberKeyboard keyboardDisplay" *ngIf="keyboardDisplayed">
    <div *ngFor="let keyboardLine of keyboardValues" class="keyboardLine keyboardDisplay">
      <button *ngFor="let keyValue of keyboardLine" (click)="enterKeyboardValue(keyValue)" class="keyboardDisplay">{{keyValue}}</button>
    </div>
  </div>
</main>
