h2 {
  text-align: center;
}

.categoryButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .selected {
    font-weight: bold;
    background-color: #6b9eb0;
  }
}

.boundaryValues {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .cardBox {
    background-color: #dadada;
    width: 5vw;
    height: 5vw;
    line-height: 5vw;
    text-align: center;
    border-bottom: 1.5px solid black;
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
    background-image: linear-gradient(white, #ababab);
  }

  input {
    width: 8vw;
    align-self: center;
    padding: 1vw;
  }

  input.invalid {
    background-color: #d08282;
    border: 3px solid darkred;
  }

  .editMode {
    background-color: rgba(107, 158, 176, 0.3);
    border: 3px solid #6b9eb0;
  }

  div {
    align-self: center;
    display: inline;
  }
}

.wanted {
  justify-content: center;

  .wantedValue {
    margin-right: 20vw;
    margin-left: 1vw;
    align-self: center;
  }
}

.submitButtons {
  display: flex;
  justify-content: center;
  margin: 6vh;

  .startStopButton {
    width: 50vw;
  }
}

.numberKeyboard {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 8vh;
  left: 3.5vw;
  margin: auto;
  opacity: 0.9;
  padding: 1vw;

  background: rgb(199, 199, 199);
  border-radius: 10px;
  box-shadow: 1vw 2vh 3.5vh rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10.7px);
  -webkit-backdrop-filter: blur(10.7px);
  border: 1px solid rgba(174, 174, 174, 0.26);

  .keyboardLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  button {
    width: 11vw;
    padding: 1vw;
  }
}
