<main>
  <app-navigation [activeIndex]="0"></app-navigation>
  <h2>Machine control</h2>
  <p>Select a sorting category</p>
  <div class="categoryButtons">
    <button *ngFor="let cat of sortingCategories" class="{{cat.selected ? 'selected' : ''}}"
            (click)="selectCategory(cat.name)">{{cat.name}}</button>
  </div>
  <div *ngIf="getConfigurable()">
    <p>Enter values</p>
    <div class="boundaryValues">
      <div class="cardBox">1</div>
      <div><=</div>
      <span>
        <input type="text" id="lowerBorder" [(ngModel)]="lowerBoundary" (click)="editLowerBoundary()"
               class="{{editingLowerBoundary ? 'editMode keyboardDisplay' : 'keyboardDisplay'}}" (keydown)="handleLowerBoundaryInput()">
        {{sortingCategories[selectedCatIndex].unit}}
      </span>
      <div><</div>
      <div class="cardBox">2</div>
      <div><=</div>
      <span><input type="text" id="upperBorder" [(ngModel)]="upperBoundary" (click)="editUpperBoundary()"
                   class="{{editingUpperBoundary ? 'editMode keyboardDisplay' : 'keyboardDisplay'}}" (keydown)="handleUpperBoundaryInput()">
        {{sortingCategories[selectedCatIndex].unit}}
      </span>
      <div><</div>
      <div class="cardBox">3</div>
    </div>
  </div>
  <div *ngIf="!getConfigurable()">
    <p>Used values</p>
    <div class="boundaryValues wanted">
      <div class="cardBox">1</div>
      <span class="wantedValue">: true</span>
      <div class="cardBox">2</div>
      <span class="wantedValue">: false</span>
    </div>
  </div>
  <div class="submitButtons">
    <button *ngIf="machineStopped" (click)="startSorting()" class="startStopButton">Start</button>
    <button *ngIf="!machineStopped" (click)="pauseSorting()" class="startStopButton">Stop</button>
  </div>

  <div class="numberKeyboard keyboardDisplay" *ngIf="keyboardDisplayed">
    <div class="keyboardLine keyboardDisplay"> <!--TODO: loop-->
      <button (click)="enterKeyboardValue('1')" class="keyboardDisplay">1</button>
      <button (click)="enterKeyboardValue('2')" class="keyboardDisplay">2</button>
      <button (click)="enterKeyboardValue('3')" class="keyboardDisplay">3</button>
      <button (click)="enterKeyboardValue('4')" class="keyboardDisplay">4</button>
      <button (click)="enterKeyboardValue('5')" class="keyboardDisplay">5</button>
      <button (click)="enterKeyboardValue('6')" class="keyboardDisplay">6</button>
      <button (click)="enterKeyboardValue('7')" class="keyboardDisplay">7</button>
    </div>
    <div class="keyboardLine keyboardDisplay">
      <button (click)="enterKeyboardValue('8')" class="keyboardDisplay">8</button>
      <button (click)="enterKeyboardValue('9')" class="keyboardDisplay">9</button>
      <button (click)="enterKeyboardValue('0')" class="keyboardDisplay">0</button>
      <button (click)="enterKeyboardValue('.')" class="keyboardDisplay">.</button>
      <button (click)="enterKeyboardValue('Delete')" class="keyboardDisplay">Delete</button>
      <button (click)="enterKeyboardValue('Ok')" class="keyboardDisplay">Ok</button>
    </div>
  </div>
</main>
