main {
  margin-bottom: 4vh;
  overflow-x: clip;
}

h2 {
  text-align: center;
}

.pageDropdown {
  width: 94vw;
  margin: 2vh 1vw 0;
  padding: 2vh;
  background-color: var(--blue-light);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;

  mat-icon {
    transform: scale(2);
    cursor: pointer;
  }
}

.pageManual {
  width: 90vw;
  background-color: var(--blue-background);
  margin: 0 2vw;
  padding: 2vw;
  border-radius: 10px;
}
