.messagesContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 5vh;
  left: 15vw;
  z-index: 1;

  .message {
    color: #fff;
    padding: 4vh;
    margin: 0.5vh;
    width: 70vw;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    border-radius: 1em;
    z-index: 1;
    overflow-wrap: break-word;
  }

  .ERROR {
    background-color: var(--error-color);
  }

  .WARNING {
    background-color: var(--warning-color);
  }

  .SUCCESS {
    background-color: var(--success-color);
  }

  .closeButton {
    position: relative;
    right: -4vh;
    top: -4vh;
    margin: 1vh;
    float: right;
    cursor: pointer;
    height: 0;
  }
}
