.message {
  position: fixed;
  top: 12vh;
  left: 15vw;
  background-color: darkred;
  color: #FFFFFF;
  padding: 0.7em;
  width: 70vw;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  border-radius: 1em;
  z-index: 1;
}
